.image {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  height: 400px;
  width: 100%;
 opacity:0;
 overflow: auto;
  transition: .5s ease;
  background-color: #000000;
}


.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  position: absolute;
  height: 380px;
  top: 5%;
  left: 5%;
}